/* ==========================================================================
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}


/* ==========================================================================
   Variable
   ========================================================================== */
   	$color-primary: #ff9f0b;
   	$color-primary-second: #FFA519;
   	$color-comp: #0063B2;
   	$color-comp-second: #008DFF;
   	$color-green: #8BC34A;
   	$color-green-dark: #6F9C3B;
   	$dark-10: #130b09;
   	$dark-20: #4e4332;
   	$dark-30: #9a8667;
   	$light-grey: #f2F5F7;

   	$grey-10: #fbfbfb;
   	$grey-80: #484848;
   	$grey-90: #191919;




/* ==========================================================================
   Global
   ========================================================================== */
	* {
	    box-sizing: border-box;
	}
	html {
	    font-family: 'Lato', sans-serif;
	}
	html, body {
		background: $light-grey;
	}
	h1,h2,h3,h4,h5,h6,p {
		line-height: 150%;
	}

	@import 'https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Lato|Roboto|Slabo+27px';


/* ==========================================================================
   Block
   ========================================================================== */
   	/* Header
   	   ========================================================================== */
   	   	.header {
   	   		display: flex;
   	   		padding: 10px 20%;
   		    background: $dark-10;
   	   	}
   	   	.header_logo,
   	   	.header_nav {
   	   		flex: 1;
   	   	}
   	   	.header_nav {
   	   		display: none;
   	   	}

   	   	.header_logo {
   	   		font-family: 'Roboto', sans-serif;
   		    color: white;
   	   	}
   	   	.header_logo h1 {
   		    font-weight: 300;
	        font-size: 2rem;
    		letter-spacing: 2px;
   	   	}
   	   	.header_logo h1 span {
   	   		font-weight: 700;
   	   		color: white;
   	   	}

   	/* Content
   	   ========================================================================== */
   	   	.content {
   	   		display: flex;
    		flex-wrap: wrap;
   	   	}
   	   	.content_intro {
			background: url(sources/bg.jpg) center -110px $grey-80;
			color: white;
   	   	}
   	   	.content_intro article {
   		    background: rgba(0, 0, 0, 0.6);
   	   		padding: 75px 20%;
   	   	}
   	   	.content_intro h1 {
			text-align: center;
			font-size: 1.8rem;
			margin-bottom: 20px;
			letter-spacing: 2px;
			font-family: 'Slabo 27px', cursive;
   	   	}
   	   	.content_intro h2 {
   	   		font-size: 1.4rem;
   	   		margin-bottom: 10px;
   	   		font-weight: 700;
   	   	}

   	   	.content_filtre {
   	   		flex: 1;
   	   		display: none;
   	   	}

   	   	.content_main {
   	   		flex: 4;
   	   		padding: 0px 20%;
   	   	}
   	   	.content_main-stats {
   	   		padding: 35px 0px;
   	   	} 

   	/* Footer
   	   ========================================================================== */
   	   	.footer {
   	   		background: $dark-10;
   	   		margin-top: 25px;
   	   	}
   	   	.footer ul {
   	   		text-align: center;
   	   		padding: 20px;
   	   	}
   	   	.footer li {
   	   		display: inline-block;
   	   	}
   	   	.footer,
   	   	.footer a {
   	   		color: white;
   	   	}

/* ==========================================================================
   Module
   ========================================================================== */
   	/* Accordeon
   	   ========================================================================== */
   	   	.animated-accordion__header {
			font-size: 1.4rem;	
   	   	}
   	   	.animated-accordion h3 {
			font-size: 1.2rem;	
   	   	}

   	   	.animated-accordion__header,
   	   	.animated-accordion__header[aria-expanded="true"],
   	   	.animated-accordion__header[aria-expanded="true"] + .animated-accordion__panel {
			background: white;
			color: $dark-10;  	   		
   	   	}
   	   	.animated-accordion__header,
   	   	.animated-accordion__header[aria-expanded="true"] + .animated-accordion__panel {
		    border: 1px solid $dark-30;
			padding: 20px;
   	   	}
		.animated-accordion__header {
			width: 100%;
			text-align: left;
			margin: 10px 0px;
		}
		.animated-accordion__header[aria-expanded="true"] {	
			border-bottom: 0px;
			margin-bottom: 0px;
		}
		.animated-accordion__header[aria-expanded="true"] + .animated-accordion__panel {
			border-top: 0px;
			margin-bottom: 10px;
		}
		.animated-accordion__header[aria-expanded="true"]+.animated-accordion__panel ul {
			margin-top: 25px;
		}

		/* Etape validé */
			.animated-accordion__header.validated,
			.animated-accordion__header.validated[aria-expanded="true"],
			.animated-accordion__header[aria-expanded="true"]+.animated-accordion__panel.validated {
				background: $dark-20;
				color: white;		
			}
			.animated-accordion__header.validated[aria-expanded="true"] {
				border-bottom: 0px;
			}
			.animated-accordion__header[aria-expanded="true"]+.animated-accordion__panel.validated {
				border-top: 0px;
			}

			.animated-accordion__title {
				border: 0;
			    clip: rect(0 0 0 0);
			    height: 1px;
			    margin: -1px;
			    overflow: hidden;
			    padding: 0;
			    position: absolute;
			    width: 1px;
			}

		/* Animation accordion */
			.animated-accordion__panel {
				 display: block;
				 overflow: hidden;
				 opacity: 1;
				 transition: visibility 0s ease, max-height 1s ease, opacity 1s ease ;
				 max-height: 100em;
				 /* magic number for max-height = enough height */
				 visibility: visible;
				 transition-delay: 0s;
				 margin: 0;
				 padding: 0;
			}
			.animated-accordion__panel ul {
				margin-top: 10px;
			}
			.animated-accordion__panel li {
				margin: 10px 0px;
			}
			/* This is the hidden state */
			[aria-hidden=true].animated-accordion__panel {
				 display: block;
				 max-height: 0;
				 opacity: 0;
				 visibility: hidden;
				 transition-delay: 1s, 0s, 0s;
				 margin: 0;
				 padding: 0;
			}

	/* ProgressBar
	   ========================================================================== */
		.ui-widget.ui-widget-content {
		    border: 1px solid $color-primary;
		    background: white;
		    border-radius: 30em;
		    margin: 5px 0px;
		}
		.ui-progressbar .ui-progressbar-value {
			background: $color-primary-second;
		    border-radius: 30em;
		    margin: 0px;
		}
		.ui-widget-header {
		    border: 1px solid $color-primary;
		}

	/* Checkbox
	   ========================================================================== */
		/* Cachons la case à cocher */
		[type="checkbox"]:not(:checked),
		[type="checkbox"]:checked {
		  position: absolute;
		  left: -9999px;
		}
		 
		/* on prépare le label */
		[type="checkbox"]:not(:checked) + label,
		[type="checkbox"]:checked + label {
			display: block;
		  position: relative; /* permet de positionner les pseudo-éléments */
		  padding-left: 25px; /* fait un peu d'espace pour notre case à venir */
		  cursor: pointer;    /* affiche un curseur adapté */
		}

		/* Aspect des checkboxes */
		/* :before sert à créer la case à cocher */
		[type="checkbox"]:not(:checked) + label:before,
		[type="checkbox"]:checked + label:before {
		  content: '';
		  position: absolute;
		  left:0; top: 1px;
		  width: 17px; height: 17px; /* dim. de la case */
		  border: 1px solid $color-primary;
		  border-radius: 3px; /* angles arrondis */
		  box-shadow: inset 0 1px 3px rgba(0,0,0,.3) /* légère ombre interne */
		}
		[type="checkbox"]:not(:checked) + label:before {
			background: white;
		}
		[type="checkbox"]:checked + label:before {
			background: $color-primary-second;
		}

		/* Aspect général de la coche */
		[type="checkbox"]:not(:checked) + label:after,
		[type="checkbox"]:checked + label:after {
		  content: '\2714';
		  position: absolute;
		  top: 0; left: 4px;
		  font-size: 14px;
		  color: white;
		  transition: all .2s; /* on prévoit une animation */
		}
		/* Aspect si "pas cochée" */
		[type="checkbox"]:not(:checked) + label:after {
		  opacity: 0; /* coche invisible */
		  transform: scale(0); /* mise à l'échelle à 0 */
		}
		/* Aspect si "cochée" */
		[type="checkbox"]:checked + label:after {
		  opacity: 1; /* coche opaque */
		  transform: scale(1); /* mise à l'échelle 1:1 */
		}