* {
    box-sizing: border-box;
}
body{
	background-color: #313840;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}
ul {
	padding: 0px 40px;
}
li {
	list-style-type: none; 
    margin: 25px 0px;
}
.content {
	max-width: 900px;
	margin: auto;
    margin-top: 50px;
	background-color: #4a575f;
    padding: 50px;
    color: white;
    border-radius: 10px;
    border: 1px solid #525c67;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
h1 {
	margin-top:0px;
}
h3 {
    margin-bottom: 10px;
    padding: 0px 40px;
}

/* Accordion */
	.animated-accordion__header {
		width: 100%;
		text-align: left;
	    border: 1px solid rgba(0, 3, 6, 0.3);
		padding: 20px;
		margin: 10px 0px;
		background: rgba(0, 0, 0, 0.3);
		color: white;
		border-radius: 10px;
	}
	.animated-accordion__header[aria-expanded="true"] {	
		border-bottom: 0px;
		margin-bottom: 0px;
    	color: white;
    	background: rgba(0, 0, 0, 0.3);
		border-radius: 10px 10px 0px 0px;
	}
	.animated-accordion__header[aria-expanded="true"] + .animated-accordion__panel {
	    border: 1px solid rgba(0, 3, 6, 0.3);
		border-top: 0px;
		background: rgba(0, 0, 0, 0.3);
	}
	/* $('.animated-accordion__header[aria-expanded="true"]').css({
	'color': 'black',
	'background': 'rgb(255, 196, 69)',
	'border': '2px solid rgba(255, 255, 255, 0.3)',
	'border-bottom': '0px'
	});
	$('.animated-accordion__header[aria-expanded="true"]+.animated-accordion__panel').css({
	'background': '#ffc445',
	'background': '-moz-linear-gradient(top, #ffc445 0%, #f38118 100%)',
	'background': '-webkit-linear-gradient(top, #ffc445 0%,#f38118 100%)', 
	'background': 'linear-gradient(to bottom, #ffc445 0%,#f38118 100%)', 
	'filter': "progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc445', endColorstr='#f38118',GradientType=0 )",
	'color': '#000000',
	'border': '2px solid rgba(255, 255, 255, 0.3)',
	'border-top': '0px',
	'-webkit-transition': 'background 5s ease',
	'transition': 'background 5s ease'
	}); */

	.animated-accordion__title {
		border: 0;
	    clip: rect(0 0 0 0);
	    height: 1px;
	    margin: -1px;
	    overflow: hidden;
	    padding: 0;
	    position: absolute;
	    width: 1px;
	}
	/* Animation accordion */
		.animated-accordion__panel {
			 display: block;
			 overflow: hidden;
			 opacity: 1;
			 transition: visibility 0s ease, max-height 1s ease, opacity 1s ease ;
			 max-height: 100em;
			 /* magic number for max-height = enough height */
			 visibility: visible;
			 transition-delay: 0s;
			 margin: 0;
			 padding: 0;
			 border-radius: 0px 0px 10px 10px;
		}
		/* This is the hidden state */
		[aria-hidden=true].animated-accordion__panel {
			 display: block;
			 max-height: 0;
			 opacity: 0;
			 visibility: hidden;
			 transition-delay: 1s, 0s, 0s;
			 margin: 0;
			 padding: 0;
		}

	/* progressBar */
		.ui-widget.ui-widget-content {
		    border: 1px solid rgba(0, 0, 0, 0.3);
		    background: #343d42;
		    border-radius: 30em;
		}
		.ui-progressbar .ui-progressbar-value {
			background: #91ba42;
		    border-radius: 30em;
		}
		.ui-widget-header {
		    border: 1px solid #b7e263;
		}



/* Cachons la case à cocher */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
 
/* on prépare le label */
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
	display: block;
  position: relative; /* permet de positionner les pseudo-éléments */
  padding-left: 25px; /* fait un peu d'espace pour notre case à venir */
  cursor: pointer;    /* affiche un curseur adapté */
}

/* Aspect des checkboxes */
/* :before sert à créer la case à cocher */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 1px;
  width: 17px; height: 17px; /* dim. de la case */
  border: 1px solid #aaa;
  border-radius: 3px; /* angles arrondis */
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3) /* légère ombre interne */
}
[type="checkbox"]:not(:checked) + label:before {
	background: #4a575f;
}
[type="checkbox"]:checked + label:before {
	background: #232a2d;
}

/* Aspect général de la coche */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2714';
  position: absolute;
  top: 0; left: 4px;
  font-size: 14px;
  color: white;
  transition: all .2s; /* on prévoit une animation */
}
/* Aspect si "pas cochée" */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0; /* coche invisible */
  transform: scale(0); /* mise à l'échelle à 0 */
}
/* Aspect si "cochée" */
[type="checkbox"]:checked + label:after {
  opacity: 1; /* coche opaque */
  transform: scale(1); /* mise à l'échelle 1:1 */
}